{%extends 'base.html'%}
{% load static %}

{% block content %}
<div class="container text-center p-3">
    <h1>HI THERE!</h1>
    <p>I'm looking foward to hear from you!</p>
</div>
<div class="social-buttons text-center">
    <a href="https://github.com/MwitaChacha?tab=repositories" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://twitter.com/Chacha1kanobi" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/jonathan-chacha-19b154206/" target="_blank"><i
            class="fab fa-linkedin-in"></i></a>
    <a href="https://www.instagram.com/mwi_tah/" target="_blank"><i class="fab fa-instagram"></i></a>
</div>
<div class="container text-center mt-4 d-flex justify-content-center">
<h6>MOBILE NUMBER:</h6>
<p class="mx-3">+254725480010</p>
</div>
<div class="container d-flex text-center justify-content-center">
    <h6>EMAIL ADDRESS:</h6>
    <p class="mx-3">jonahhchacha@gmail.com</p>
    </div>
{% endblock %}