{%extends 'base.html'%}
{% load static %}

{% block content %}
<div class="container text-center p-5">
    <h3>HAVE A LOOK AT THE PROJECTS I'VE DONE AS A <span class="beaut">DEVELOPER</span></h3>
</div>
<div class="contaner">
    <div class="row port-section">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="container">
                <h6>ARTIST STATS</h6>
                <p>This is a web application that allows users to search for their favourite artist's performance in
                    terms of social media metadata.
                </p>

                <a target="_blank" href="https://artiststats-by-chacha.herokuapp.com/"><button
                        class="btn btn-primary">Have a
                        Look</button></a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <img class="port-pic" src="{% static "images/stats.jpg" %}" alt="">
        </div>
    </div>
        <div class="row port-section">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="container">
                    <h6>CARNNECT</h6>
                    <p>This is a web application that allows car drivers to seamlessly connect with mechanics and spare
                        parts providers whenever their car has mechanical issues</p>

                    <a target="_blank" href="https://carnnect.herokuapp.com/"><button class="btn btn-primary">Have a
                            Look</button></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img class="port-pic" src="{% static "images/carnnect.jpg" %}" alt="">
            </div>
        </div>
        <div class="row port-section">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="container">
                    <h6>NEIGHBOURHOOD WATCH</h6>
                    <p>This is a web application that allows users to be on the know with regards to their
                        neighbourhood. It
                        keeps people on the loop!</p>
                    <a target="_blank" href="https://neighbour-watch.herokuapp.com/"><button
                            class="btn btn-primary">Have a
                            Look</button></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img class="port-pic" src="{% static "images/neighbourhood.jpg" %}" alt="">
            </div>
        </div>
        <div class="row port-section">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="container">
                    <h6>AWWARDS</h6>
                    <p>This is a web application that allows users to submit their projects for them to be rated by
                        people
                        of the internet. Projects are rated on three criteria: userbility, design and content.
                    </p>
                    <a target="_blank" href="https://awwards-chacha.herokuapp.com/"><button class="btn btn-primary">Have
                            a
                            Look</button></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img class="port-pic" src="{% static "images/awwards.jpg" %}" alt="">
            </div>
        </div>
        <div class="row port-section">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="container">
                    <h6>INSTAGRAM CLONE</h6>
                    <p>This is a web application that mimics the popular social media platform, Instagram.
                    </p>
                    <a target="_blank" href="https://instagram-clone-chacha.herokuapp.com/"><button
                            class="btn btn-primary">Have a Look</button></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img class="port-pic" src="{% static "images/instagram.jpg" %}" alt="">
            </div>
        </div>
        <div class="row port-section">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="container">
                    <h6>BLOG AWESOME</h6>
                    <p>This is a web application that enables users to create blogs of different genres. Users are also
                        able
                        to comment on their favourite blogs
                    </p>
                    <a target="_blank" href="https://blogawesomechacha.herokuapp.com/"><button
                            class="btn btn-primary">Have
                            a Look</button></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img class="port-pic" src="{% static "images/blog.jpg" %}" alt="">
            </div>
        </div>
    </div>
    {% endblock %}